[MULTICRAB]
cfg=crabMC.cfg

[COMMON]

# This determines the direcory where the CRAB log files and CMSSW output files will go.
# It will be USER.ui_working_dir/section_name/
# where section_name is the corresponding  section "[xyz]" that you give below.
USER.ui_working_dir = crab_ZmumuNtuples_mc_20130315
USER.storage_element = cmseos.fnal.gov
USER.storage_path = /srm/v2/server?SFN=/eos/uscms/store/user/nmirman/CRABjobs/crab_ZmumuNtuples_mc_20130315/

[DYJetsToLL]
CMSSW.datasetpath = /DYJetsToLL_M-50_TuneZ2Star_8TeV-madgraph-tarball/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.user_remote_dir = DYJetsToLL

[TTJets]
CMSSW.datasetpath = /TTJets_MassiveBinDECAY_TuneZ2star_8TeV-madgraph-tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.user_remote_dir = TTJets

[QCD]
CMSSW.datasetpath = /QCD_Pt_20_MuEnrichedPt_15_TuneZ2star_8TeV_pythia6/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.user_remote_dir = QCD

[WW]
CMSSW.datasetpath = /WW_TuneZ2star_8TeV_pythia6_tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.user_remote_dir = WW

[WZ]
CMSSW.datasetpath = /WZ_TuneZ2star_8TeV_pythia6_tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.user_remote_dir = WZ

[ZZ]
CMSSW.datasetpath = /ZZ_TuneZ2star_8TeV_pythia6_tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.user_remote_dir = ZZ

[Tbar_tW-channel]
CMSSW.datasetpath = /Tbar_tW-channel-DR_TuneZ2star_8TeV-powheg-tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.user_remote_dir = Tbar_tW-channel

[T_tW-channel]
CMSSW.datasetpath = /T_tW-channel-DR_TuneZ2star_8TeV-powheg-tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.user_remote_dir = T_tW-channel

[WJetsToLNu]
CMSSW.datasetpath = /WJetsToLNu_TuneZ2Star_8TeV-madgraph-tarball/Summer12_DR53X-PU_S10_START53_V7A-v2/AODSIM
USER.user_remote_dir = WJetsToLNu
