[MULTICRAB]
cfg=crabMC.cfg

[COMMON]

# This determines the direcory where the CRAB log files and CMSSW output files will go.
# It will be USER.ui_working_dir/section_name/
# where section_name is the corresponding  section "[xyz]" that you give below.
USER.ui_working_dir = crab_TopMassNtuple_mc_20130625
USER.storage_element = cmseos.fnal.gov
USER.storage_path = /srm/v2/server?SFN=/eos/uscms/store/user/xguo93/CRABjobs/crab_TopMassNtuple_mc_20130717/
CMSSW.pset = makentuple_cfg.py

[TTJets]
CMSSW.datasetpath = /TTJets_MassiveBinDECAY_TuneZ2star_8TeV-madgraph-tauola/nmirman-TopMass_TTJets-f00a83d7c553aa076a1294eff5fc57ee/USER
USER.user_remote_dir = TTJets

[T_tW]
CMSSW.datasetpath = /T_tW-channel-DR_TuneZ2star_8TeV-powheg-tauola/nmirman-TopMass_T_tW-31fbc0c8b8a3c5a0dc96005decc4ed7e/USER
USER.user_remote_dir = T_tW

[WJetsToLNu]
CMSSW.datasetpath = /WJetsToLNu_TuneZ2Star_8TeV-madgraph-tarball/nmirman-TopMass_WJetsToLNu-ffc15f7d5135072f308d801aff3f3966/USER
USER.user_remote_dir = WJetsToLNu

[DYJetsToLL]
CMSSW.datasetpath = /DYJetsToLL_M-50_matchingdown_8TeV-madgraph/nmirman-TopMass_DYJetsToLL-bb5cabeb0a55326babf121706fff2770/USER
USER.user_remote_dir = DYJetsToLL
