[MULTICRAB]
cfg=crabMC.cfg

[COMMON]

# This determines the direcory where the CRAB log files and CMSSW output files will go.
# It will be USER.ui_working_dir/section_name/
# where section_name is the corresponding  section "[xyz]" that you give below.
USER.ui_working_dir = crab_TopMassSkim_mc_20130619
CMSSW.pset = bsmMassesSelection_Sync_cfg.py

[TTJets]
CMSSW.datasetpath = /TTJets_MassiveBinDECAY_TuneZ2star_8TeV-madgraph-tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.publish_data_name = TopMass_TTJets

[T_tW]
CMSSW.datasetpath = /T_tW-channel-DR_TuneZ2star_8TeV-powheg-tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.publish_data_name = TopMass_T_tW

[WJetsToLNu]
CMSSW.datasetpath = /WJetsToLNu_TuneZ2Star_8TeV-madgraph-tarball/Summer12-START52_V9_FSIM-v1/AODSIM
USER.publish_data_name = TopMass_WJetsToLNu

[DYJetsToLL]
CMSSW.datasetpath = /DYJetsToLL_M-50_matchingdown_8TeV-madgraph/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
USER.publish_data_name = TopMass_DYJetsToLL
